oneup_flysystem:
    adapters:
        local_adapter:
            local:
                directory: '%kernel.root_dir%/../uploads'
        dropbox_adapter:
            dropbox:
                client: app.dropbox_client
                prefix: ''
        google_drive_adapter:
            custom:
                service: app.adapter.google_drive_adapter

    filesystems:
        local:
            adapter: local_adapter
            mount: local
        dropbox:
            adapter: dropbox_adapter
            mount: dropbox
        google_drive:
            adapter: google_drive_adapter
            mount: google_drive
