<div class="search-form">
    <form action="/search">
        Search:
        <input id="search" type="text" name="query" value="{{ query | default('') }}" placeholder="phrase"><br>
        <input id="submit" type="submit" value="Search">
    </form>
</div>
